header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--color-light);
  margin-bottom: 1.5em;
  justify-content: center;
}

.logo {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  column-gap: 0.5em;
}

.logo p {
  color: var(--color-link-text);
}
