.subreddits {
  background-color: var(--color-light);
  padding: 2em;
}

.active {
  color: #fff;
  text-decoration: underline;
}

h2,
h3 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

li button {
  height: 2em;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: var(--color-body-text);
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
}

li button:hover {
  color: var(--color-link-text);
}

li .icon {
  color: var(--color-link-text);
  height: 100%;
  border-radius: 50%;
  margin-right: 1em;
}
