a {
  color: var(--color-link-text);
}

.postsPage-header {
  background-color: var(--color-light);
  padding: 1.2em;
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.postsPage-header-loading {
  background-color: var(--color-light);
  padding: 1.2em;
  align-items: center;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}